/* GLOBAL */
p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

/* HEADER */

.header {
  background-color: black;
  color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-right {
  padding-right: 2rem;
}

.logo,
.graphic {
  margin-right: 1rem;
}

.date {
  font-size: 1rem;
}

/* WELCOME */

.welcome-container {
  position: relative;
}

.welcome-image {
  width: 100%;
  display: block;
}

/* FOOTER */
.footer {
  background-color: #e5e548;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1400px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-header {
  font-family: "Inter", sans-serif;
  color: #e5e548;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  background: transparent;
}

.contact-us-container {
  display: flex;
  align-items: center;
}

.contact-us {
  background-color: white;
  border-width: 0px;
  border-radius: 50%;
  padding: 20px;
  font-weight: bold;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
}

.footer a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  color: inherit;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.column p {
  margin: 0;
  margin-bottom: 0.75em;
}

.column p:last-child {
  margin-bottom: 0;
}

/* YOUTUBEVIDEO */
.video-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 30%;
  overflow: hidden;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* LATEST PROJECTS */

.latest-projects-container {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.latest-projects-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* PROJECT */
.card {
  max-width: 550px;
  padding: 1rem;
}

.card-image-container {
  position: relative;
  z-index: 1;
}
.card-image {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: auto;
}

.index-number {
  position: absolute;
  left: 0;
  bottom: 40px;
  font-size: 10.5rem;
  transform: rotate(270deg);
  color: white;
}

.card-title {
  font-size: 1.5rem;
  color: #e5e548;
}

.card-description {
  font-size: 1rem;
  color: white;
  padding: 1rem 0;
}

.card-event-production {
  font-size: 1rem;
  color: grey;
}

.card-location {
  display: inline;
  font-size: 1rem;
  color: white;
}

.yellow-dot {
  display: inline;
  width: 1rem;
  height: 1rem;
  background-color: #e5e548;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* SIDE MENU */

/* SideMenu.css */
.menu-button {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 32px;
  height: 3px;
  background-color: #000;
  transition: all 0.3s;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  bottom: -8px;
}

.menu-button.open .hamburger {
  background-color: transparent;
}

.menu-button.open .hamburger::before {
  transform: translateY(8px) rotate(45deg);
}

.menu-button.open .hamburger::after {
  transform: translateY(-8px) rotate(-45deg);
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.menu-links {
  font-size: 4rem;
  line-height: 1.5;
}

.menu-links a,
.menu-links p {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.menu-links a:hover,
.menu-links a:focus {
  color: #e5e548;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: #e5e548;
}

.menu-links a::before,
.menu-links a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e5e548;
  visibility: hidden;
  transform: scaleX(1.5);
  transition: all 0.3s;
}

.menu-links a::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.menu-links a::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

.menu-links a:hover::before,
.menu-links a:hover::after,
.menu-links a:focus::before,
.menu-links a:focus::after {
  visibility: visible;
  transform: scaleX(1);
}

.social-links {
  /* Add styles for the social links container here */
}

.graphics {
  /* Add styles for the graphics container here */
}

/* responsive styles for mobile */
@media (max-width: 768px) {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-right {
    padding-right: 0;
  }

  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-top,
  .footer-middle,
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    max-width: 288px;
  }

  .card-image {
    max-height: 376px;
  }

  .card-image img {
    width: 100%;
  }

  .index-number {
    font-size: 6rem;
    bottom: 20px;
  }

  .card-title {
    font-size: 1rem;
  }

  .latest-projects-content {
    flex-direction: column;
  }

  .welcome-image {
    width: 100%;
  }

  .video-wrapper {
    width: 100%;
    height: auto;
  }
  .menu-button {
    top: 16px;
    left: auto;
    right: 16px;
  }

  .menu-links {
    font-size: 2.5rem;
  }
}
